<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <div class="prototype__user">
        投稿者: <%= link_to @album.user.nickname, user_path(@album.user.id) %>
      </div>
      <%# 投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @album.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_album_path(@album.id), class: :prototype__btn, method: :get %>
          <%= link_to "削除する", album_path(@album.id), class: :prototype__btn, method: :delete %>
        </div>
      <% end  %>
      <div class="prototype__image">
        <%= image_tag @album.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">説明</p>
          <p class="detail__message">
            <%= render_with_tags(safe_join(@album.description.split("\n"),tag(:br))) %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with(model: [@album, @comment], local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content", class:"input-box" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to comment.user.nickname , "/users/#{comment.user_id}", class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
